In [3]:
library(RMySQL)

In [4]:
con<-dbConnect(dbDriver("MySQL"), dbname = "database name", user = "root", password = "pwd")

In [5]:
result<- dbGetQuery(con, "desc student_db;")

In [6]:
result

  Field Type     Null Key Default Extra
1 sno   int(11)  NO   PRI NA
2 name  char(10) YES      NA
3 det   char(20) YES      NA
4 addr  char(80) YES      NA
5 tel   char(20) YES      NA